@use "sass:color";
@use "config" as *;

.splash-accueil {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100dvw;
	height: calc(100dvh - var(--scroll-top));
	background-image: var(--splash-accueil);
	background-repeat: no-repeat;
	background-position: center;
	resize: both;

	background-size: auto 75%;


	animation-name: splash-accueil;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-delay: -325ms;

	&::after {
		content: "";
		position: absolute;
		max-width: 65%;
		max-height: 65%;
		width: 100%;

		aspect-ratio: 1553 / 705;
		background-image: var(--splash-accueil-text);
		background-repeat: no-repeat;
		background-size: contain;
		z-index: 1;
	}

	h1 {
		opacity: 0;
	}

}



@keyframes splash-accueil {
	0%, 100% {
		background-image: var(--splash-accueil-1);
	}
	30% {
		background-image: var(--splash-accueil-1);
	}
	33% {
		background-image: var(--splash-accueil-2);
	}
	64% {
		background-image: var(--splash-accueil-2);
	}
	67% {
		background-image: var(--splash-accueil-3);
	}
	96% {
		background-image: var(--splash-accueil-3);
	}
}


.slideshow-accueil {
	background-image: url(../images/accueil/slideshow/immeuble_quartier.webp);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100dvw;
	height: calc(100dvh - var(--scroll-top));
	
	&.meralie {
		background-image: url(../images/accueil/meralie/00-large.webp);
	}

}




.qui-sommes-nous-accueil {

	--sphere-offset: -52%;
	position: relative;
	background-color: var(--color-green);
	background-repeat: no-repeat;
	color: var(--color-yellow);
	padding: 4rem 5% 6rem 20%;

	em {
		font-weight: 600;
		text-shadow: 0 0 0.1rem #{color.adjust($color-grey, $alpha: -0.25)};
	}

	&:has(em:hover) {
		--sphere-offset: -25%;
		
	}

	&::before {
		content: "";
		position: absolute;
		left: 0%;
		top: 50%;
		transform: translate(-75%, -50%);
		aspect-ratio: 1 / 1;
		height: 70%;
		border-radius: 50%;
		background: var(--color-yellow);
		background-image: var(--demi-sphere);
		background-position: 23% center;
		background-repeat: no-repeat;
		background-size: contain;
		max-height: 30rem;

		
	}

	&::after {
		content: "";
		position: absolute;
		left: 0%;
		top: 50%;
		transform: translate(var(--sphere-offset), -50%);
		aspect-ratio: 1 / 1;
		height: 80%;
		border-radius: 50%;
		background-image: var(--demi-sphere);
		background-repeat: no-repeat;
		transition: transform 200ms;
		max-height: 30rem;
	}


	img {
		position: relative;
		display: block;
		width: 12rem;
		border-radius: 50%;
		border: 0.5rem solid var(--color-yellow);
		transition-property: border;
		transition-duration: 100ms;
		margin: 1rem 0 0 auto;
		cursor: pointer;


		&:hover {
			border: 0.75rem solid var(--color-yellow);
		}
	}
}


.quote {
	position: relative;
	background-color: var(--color-blue);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3rem;


	&.yellow {
		background-color: var(--color-yellow);
	}


	& > div {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 1rem;

		background-color: var(--color-grey);

		color: var(--color-white);
		border-radius: 50%;
		aspect-ratio: 1 / 1;

		font-size: 1.3rem;
	}


	&::before {
		content: "";
		position: absolute;
		left: 0%;
		top: 50%;
		transform: translate(-50%, -50%);
		aspect-ratio: 1 / 2;
		height: 80%;
		background-image: var(--demi-sphere);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;

	}
	&::after {
		content: "";
		position: absolute;
		right: 0%;
		top: 50%;
		transform: translate(50%, -50%) scaleX(-1);
		aspect-ratio: 1 / 2;
		height: 80%;
		background-image: var(--demi-sphere);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}

}




.qu-est-ce-que-l-ethnographie-accueil {
	--sphere-offset-right: 52%;

	position: relative;
	background-color: var(--color-grey);
	color: var(--color-white);
	padding: 4rem 20% 6rem 5%;

	&::before {
		content: "";
		position: absolute;
		right: 0%;
		top: 50%;
		transform: translate(75%, -50%);
		aspect-ratio: 1 / 1;
		height: 70%;
		border-radius: 50%;
		background: var(--color-orange);
		max-height: 30rem;
	}

	&::after {
		content: "";
		position: absolute;
		right: 0%;
		top: 50%;
		transform: translate(var(--sphere-offset-right), -50%) scaleX(-1);
		aspect-ratio: 1 / 1;
		height: 80%;
		border-radius: 50%;
		background-image: var(--demi-sphere);
		background-repeat: no-repeat;
		transition: transform 200ms;
		max-height: 30rem;
	}


	&:has(blockquote:hover) {
		--sphere-offset-right: 25%;
		
	}


}




.approche {
	position: relative;

	background-color: var(--color-white);
	color: var(--color-grey);
	padding: 4rem 5% 6rem 20%;
	z-index: 1;
	

	&::before {
		content: "";
		position: absolute;
		left: 0%;
		top: 50%;
		transform: translate(-75%, -50%);
		aspect-ratio: 1 / 1;
		height: 70%;
		border-radius: 50%;
		background: var(--color-blue);
		max-height: 30rem;
		z-index: -1;
	}

	img {
		width: 8rem;
		border-radius: 50%;
		border: 0.5rem solid var(--color-yellow);
		margin-top: 1rem;
		&:not(:last-of-type) {
			margin-right: 2.5rem;
		}
	}
}

