.splash-collaborations {

	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;

	width: 100dvw;
	height: calc(100dvh - var(--scroll-top));
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80%;

	animation-name: splash-collaborations;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-delay: -320ms;


	h1 {
		font-family: var(--font-hero);
		font-size: 4rem;
		color: var(--color-white);
		text-transform: uppercase;
		user-select: none;
	}

}



@keyframes splash-collaborations {
	0%, 100% {
		background-image: var(--splash-collaborations-1);
	}
	30% {
		background-image: var(--splash-collaborations-1);
	}
	33% {
		background-image: var(--splash-collaborations-2);
	}
	64% {
		background-image: var(--splash-collaborations-2);
	}
	67% {
		background-image: var(--splash-collaborations-3);
	}
	96% {
		background-image: var(--splash-collaborations-3);
	}
}




.collaborations-slideshow {
	background-image: url(../images/collaborations/00-splash.webp);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 100vh;
}


.collaborations-index {
	background-color: var(--color-white);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
	padding: 3rem;
	width: 100%;
	height: 100%;


	& > a {
		display: flex;
		justify-content: center;
		align-items: center;
		aspect-ratio: 1 / 1;
		opacity: 0.7;
		
		transition-property: transform opacity;
		transition-duration: 100ms;

		&:hover {
			transform: scale(1.1);
			opacity: 1;
		}

		img {
			width: 100%;
			aspect-ratio: 1 / 1;
			object-fit: contain;
		}

	}


}