@use "utils" as *;

$color-fg: #383336;
$color-bg: #c7a670;


$color-white:  #f7ede0;
$color-grey:   #383336;
$color-blue:   #29b3b8;
$color-green:  #213821;
$color-yellow: #fca61c;
$color-orange: #fc5933;


$color-blue-bin:   hexbin($color-blue);
$color-grey-bin:   hexbin($color-grey);
$color-yellow-bin: hexbin($color-yellow);
$color-orange-bin: hexbin($color-orange);


$color-a-hover: $color-orange;
$color-a-active: $color-white;


$font-family:  'Inter';
$font-title:   'EB Garamond';
$font-hero:    'Nazare';
// $font-spacing: -0.07em;

$font-base:   26;
$font-break:  1200;
$font-resp:   calc($font-base * 100 / $font-break);