
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    // letter-spacing: var(--font-spacing);
}


html {
    scroll-behavior: smooth;
    // scroll-padding-top: var(--scroll-top);
    font-size: var(--font-size);

    &.is-busy,
    &.is-busy * {
        cursor: wait !important;
        pointer-events: none !important;
    }

    &.is-working,
    &.is-working * {
        cursor: progress !important;
        pointer-events: none !important;
    }
}


body {
    position: relative;
    color: var(--color-fg);
    // // background-color: var(--color-bg);
    overflow-x: hidden;
    // padding-top: var(--scroll-top);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    max-width: 100%;

	background-color: var(--color-bg);

}


header {
    position: fixed;
    width: 100%;
    z-index: 99999;

    background-color: var(--color-bg);
    padding-bottom: 1rem;
    nav {

        display: flex;
        padding: 0rem 0.5rem;

        gap: 1rem;

        & > *:nth-child(2) {
            margin-left: auto;
        }

        & > a {
            text-transform: uppercase;
            text-decoration: none;
            color: var(--color-fg);
            font-weight: 500;
            height: 2rem;
            background-image: linear-gradient(to bottom, var(--color-a-hover), var(--color-a-hover));
            background-position: top left;
            background-repeat: no-repeat;
            background-size: 100% 0rem;
            display: inline-flex;
            align-items: flex-end;
            white-space: nowrap;

            &:hover {
                background-size: 100% 0.5rem;
                color: var(--color-a-hover);
            }

            html[data-page="accueil"] &[data-page="accueil"],
            html[data-page="expertise"] &[data-page="expertise"],
            html[data-page="services"] &[data-page="services"],
            html[data-page="publications"] &[data-page="publications"],
            html[data-page="collaborations"] &[data-page="collaborations"],
            html[data-page="nousjoindre"] &[data-page="nousjoindre"] {
                background-image: linear-gradient(to bottom, var(--color-a-active), var(--color-a-active));
                background-size: 100% 0.5rem;
                color: var(--color-a-active);
            }


        }

    }


}


main {
    flex-grow: 1;

    section {

        overflow-x: hidden;

        &.splash-accueil {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 100vh;
            // background-color: red;
            background-image: var(--spash-accueil);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 75% 75%;
            // margin-top: 1rem;

            &::after {
                content: "";
                position: absolute;
                max-width: 65%;
                max-height: 65%;
                width: 100%;

                aspect-ratio: 1553 / 705;
                background-image: var(--spash-accueil-text);
                background-repeat: no-repeat;
                background-size: contain;
                z-index: 1;
                // background-color: blue;
            }

        }

        &.slideshow-accueil {
            background-image: url(../images/accueil/slideshow/immeuble_quartier.webp);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            aspect-ratio: 3 / 2;
            width: 100%;
            height: 100vh;
        }

        &.qui-sommes-nous-accueil {
            // width: 100%
            position: relative;

            background-color: var(--color-green);
            color: var(--color-yellow);
            padding: 4rem 5% 4rem 20%;

            &::before {
                content: "";
                position: absolute;
                left: 0%;
                top: 50%;
                transform: translate(-75%, -50%);
                aspect-ratio: 1 / 1;
                height: 70%;
                border-radius: 50%;
                background: var(--color-yellow);
                max-height: 30rem;
            }

            img {
                width: 8rem;
                border-radius: 50%;
                border: 0.5rem solid var(--color-yellow);
                margin-top: 1rem;
                &:not(:last-of-type) {
                    margin-right: 2.5rem;
                }
            }
        }


        &.qu-est-ce-que-l-ethnographie-accueil {
            position: relative;
            background-color: var(--color-grey);
            color: var(--color-white);
            padding: 4rem 20% 4rem 5%;

            &::before {
                content: "";
                position: absolute;
                right: 0%;
                top: 50%;
                transform: translate(75%, -50%);
                aspect-ratio: 1 / 1;
                height: 70%;
                border-radius: 50%;
                background: var(--color-orange);
                max-height: 30rem;
            }


        }




        &.approche {
            // width: 100%
            position: relative;

            background-color: var(--color-white);
            color: var(--color-grey);
            padding: 4rem 5% 4rem 20%;

            &::before {
                content: "";
                position: absolute;
                left: 0%;
                top: 50%;
                transform: translate(-75%, -50%);
                aspect-ratio: 1 / 1;
                height: 70%;
                border-radius: 50%;
                background: var(--color-blue);
                max-height: 30rem;
            }

            img {
                width: 8rem;
                border-radius: 50%;
                border: 0.5rem solid var(--color-yellow);
                margin-top: 1rem;
                &:not(:last-of-type) {
                    margin-right: 2.5rem;
                }
            }
        }





        &.quote {
            position: relative;
            background-color: var(--color-blue);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3rem;

            & > div {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 1rem;

                background-color: var(--color-grey);

                color: var(--color-white);
                border-radius: 50%;
                aspect-ratio: 1 / 1;
            }


            &::before {
                content: "";
                position: absolute;
                left: 0%;
                top: 50%;
                transform: translate(-50%, -50%);
                aspect-ratio: 1 / 2;
                height: 80%;
                // border-radius: 50%;
                // background: #f0a020;
                background-image: var(--demi-sphere);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: contain;

            }
            &::after {
                content: "";
                position: absolute;
                right: 0%;
                top: 50%;
                transform: translate(50%, -50%) scaleX(-1);
                aspect-ratio: 1 / 2;
                height: 80%;
                background-image: var(--demi-sphere);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: contain;
            }

        }


    }


}


h2 {
    font-family: var(--font-title);
    font-size: 3rem;
    margin-bottom: 1rem;
}


h3 {
    font-family: var(--font-title);
    font-size: 2rem;
    margin-bottom: 1rem;
}

h4 {
    font-family: var(--font-title);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

h5 {
    font-family: var(--font-title);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}


p:not(:last-child) {
    margin-bottom: 0.8rem;
}

em {
    color: var(--color-orange);
}

blockquote {
    font-size: 1.4em;
    font-weight: 600;
    font-style: italic;
    color: var(--color-orange);
}

hr {
	border: none;
	height: 0.2em;
	background: var(--color-blue);
    margin-bottom: 1rem;
	width: 100%;
}

footer {




    display: flex;
    flex-direction: column;

    font-size: 0.8rem;
    font-weight: 500;
    height: 5em;
    margin: 5em 0;



    & > div:nth-child(1) {
        // background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;

        // user-select: none;
        // filter: grayscale(100);
        color: var(--color-white);
        z-index: -1;

        &::before {
            content: '';
            height: 2em;
            aspect-ratio: 132/150;
            background-image: var(--logo-ii);
            background-size: contain;
            background-position: left center;
            background-repeat: no-repeat;
            margin-right: 0.5em;
        }
    }




    & > div:nth-child(2) {
        // background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;

        // user-select: none;
        // filter: grayscale(100);
        color: var(--color-white);
        // z-index: -1;
        margin-top: 0.5rem;

        a {
            color: var(--color-white);
        }

    }


    & > div:nth-child(3) {
        margin-top: 0.5rem;
        // background-color: blue;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        .facebook {
            width: 1rem;
            aspect-ratio: 1 / 1;
            // background-color: red;
            background-image: var(--icon-facebook);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        }

        .email {
            width: 1rem;
            aspect-ratio: 1 / 1;
            // background-color: red;
            background-image: var(--icon-email);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        }

    }

}


// footer > div:nth-child(1) {
//     // background-color: red;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     user-select: none;
//     // filter: grayscale(100);
//     color: var(--color-white);
//     z-index: -1;

//     &::before {
//         content: '';
//         height: 2em;
//         aspect-ratio: 132/150;
//         background-image: var(--logo-ii);
//         background-size: contain;
//         background-position: left center;
//         background-repeat: no-repeat;
//         margin-right: 0.5em;
//     }
// }


.arrowup {
    position: relative;
    height: 1.2rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & > div {
        position: relative;
        // background-color: blue;
        height: 100%;
        aspect-ratio: 2 / 1;
        cursor: pointer;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: var(--arrow-up);

        transition-property: transform;
        transition-duration: 100ms;

        &:hover {
            transform: scale(1.1);
        }
    }

    // background-color: red;

    




}