@use 'sass:color';
@use 'config' as *;

@property --sphere-offset {
  syntax: '<percent>';
  initial-value: 0;
  inherits: true;
}

@property --sphere-offset-right {
  syntax: '<percent>';
  initial-value: 0;
  inherits: true;
}

@property --border-color {
  syntax: '<color>';
  initial-value: white;
  inherits: true;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    // letter-spacing: var(--font-spacing);
}


html {
    scroll-behavior: smooth;
    // scroll-padding-top: 2.5rem;
    font-size: var(--font-size);

    // @media (orientation: portrait) {
    //     font-size: var(--font-size-mobile);
    // }

    &.is-busy,
    &.is-busy * {
        cursor: wait !important;
        pointer-events: none !important;
    }

    &.is-working,
    &.is-working * {
        cursor: progress !important;
        pointer-events: none !important;
    }
}


body {
    position: relative;
    color: var(--color-fg);
    // // background-color: var(--color-bg);
    overflow-x: hidden;
    padding-top: var(--scroll-top);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    max-width: 100%;
    -webkit-text-size-adjust: 100%;

	background-color: var(--color-bg);

}


header {
    position: fixed;
    width: 100%;
    z-index: 99999;
    top: 0;

    background-color: var(--color-bg);
    // padding-bottom: 1rem;
    nav {

        display: flex;
        padding: 0rem 0.5rem;
        // background-color: red;
        height: 2.5rem;

        gap: 1rem;

        & > *:nth-child(2) {
            margin-left: auto;
        }

        & > a {
            text-transform: uppercase;
            text-decoration: none;
            color: var(--color-fg);
            font-weight: 500;
            height: 2rem;
            background-image: linear-gradient(to bottom, var(--color-a-hover), var(--color-a-hover));
            background-position: top left;
            background-repeat: no-repeat;
            background-size: 100% 0rem;
            display: inline-flex;
            align-items: flex-end;
            white-space: nowrap;
            justify-content: center;
            // background-color: blue;
            // -webkit-text-size-adjust: 100%;
            -webkit-text-size-adjust: none;


            &:hover {
                background-size: 100% 0.5rem;
                color: var(--color-a-hover);
                & > .nav-ii {
                    background-image: var(--logo-ii-nav-hover);
                }
            }

            & > .nav-ii {
                position: relative;
                display: inline-block;
                aspect-ratio: 1 / 1;
                // background-color: red;
                // top: 0;
                width: 0.8rem;
                // vertical-align: top;
                margin-bottom: 0.225em;
                // transform: translateY(-25%);
                margin-right: 0.2rem;
                background-image: var(--logo-ii-nav);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }


            html[data-page="accueil"] &[data-page="accueil"],
            html[data-page="expertise"] &[data-page="expertise"],
            html[data-page="services"] &[data-page="services"],
            html[data-page="publications"] &[data-page="publications"],
            html[data-page="collaborations"] &[data-page="collaborations"],
            html[data-page="nousjoindre"] &[data-page="nousjoindre"] {
                background-image: linear-gradient(to bottom, var(--color-a-active), var(--color-a-active));
                background-size: 100% 0.5rem;
                color: var(--color-a-active);

                & > .nav-ii {
                    background-image: var(--logo-ii-nav-active);
                }

            }


        }

    }


}



@keyframes splash-accueil {
	0%, 100% {
		background-image: var(--splash-accueil-1);
	}
	30% {
		background-image: var(--splash-accueil-1);
	}
	33% {
		background-image: var(--splash-accueil-2);
	}
	64% {
		background-image: var(--splash-accueil-2);
	}
	67% {
		background-image: var(--splash-accueil-3);
	}
	96% {
		background-image: var(--splash-accueil-3);
	}
}




main {
    flex-grow: 1;

    section {

        overflow-x: hidden;

        &.splash-accueil {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100dvw;
            height: calc(100dvh - var(--scroll-top));
            // background-color: red;
            background-image: var(--splash-accueil);
            background-repeat: no-repeat;
            background-position: center;
            resize: both;

            background-size: auto 75%;
            @media (orientation: portrait) {
                background-size: 75% auto;
            }

            animation-name: splash-accueil;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            animation-delay: -325ms;

            @media (orientation: portrait) {
                animation-timing-function: steps(1);
            }

            &::after {
                content: "";
                position: absolute;
                max-width: 65%;
                max-height: 65%;
                width: 100%;

                aspect-ratio: 1553 / 705;
                background-image: var(--splash-accueil-text);
                background-repeat: no-repeat;
                background-size: contain;
                z-index: 1;
                // background-color: blue;
            }

        }

        &.slideshow-accueil {
            background-image: url(../images/accueil/slideshow/immeuble_quartier.webp);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            // aspect-ratio: 3 / 2;
            width: 100dvw;
            height: calc(100dvh - var(--scroll-top));
            
            @media (orientation: portrait) {
                aspect-ratio: 3 / 2;
                height: auto;
            }

        }

        &.qui-sommes-nous-accueil {

            --sphere-offset: -52%;
            // width: 100%
            position: relative;
            background-color: var(--color-green);
            background-repeat: no-repeat;
            color: var(--color-yellow);
            padding: 4rem 5% 4rem 20%;

            em {
                font-weight: 600;
                text-shadow: 0 0 0.1rem #{color.adjust($color-grey, $alpha: -0.25)}; //, 0 0 0.2rem #{color.adjust($color-white, $alpha: -0.25)};
            }

            &:has(em:hover) {
                // background-color: red;
                --sphere-offset: -25%;
                
            }

            &::before {
                content: "";
                position: absolute;
                left: 0%;
                top: 50%;
                transform: translate(-75%, -50%);
                aspect-ratio: 1 / 1;
                height: 70%;
                border-radius: 50%;
                background: var(--color-yellow);
                background-image: var(--demi-sphere);
                background-position: 23% center;
                background-repeat: no-repeat;
                background-size: contain;
                max-height: 30rem;

                
                // &:hover {
                //     // background-color: red;
                //     --sphere-offset: -52%;
                // }
            }

            &::after {
                content: "";
                position: absolute;
                left: 0%;
                top: 50%;
                transform: translate(var(--sphere-offset), -50%);
                aspect-ratio: 1 / 1;
                height: 80%;
                border-radius: 50%;
                // background: red;
                background-image: var(--demi-sphere);
                background-repeat: no-repeat;
                transition: transform 200ms;
                max-height: 30rem;
            }


            img {
                width: 8rem;
                border-radius: 50%;
                border: 0.5rem solid var(--color-yellow);
                transition-property: border;
			    transition-duration: 100ms;
                margin-top: 1rem;
                cursor: pointer;

                &:not(:last-of-type) {
                    margin-right: 2.5rem;
                }

                &:hover {
                    border: 0.75rem solid var(--color-yellow);
                }
            }
        }


        &.qu-est-ce-que-l-ethnographie-accueil {
            --sphere-offset-right: 52%;

            position: relative;
            background-color: var(--color-grey);
            color: var(--color-white);
            padding: 4rem 20% 4rem 5%;

            &::before {
                content: "";
                position: absolute;
                right: 0%;
                top: 50%;
                transform: translate(75%, -50%);
                aspect-ratio: 1 / 1;
                height: 70%;
                border-radius: 50%;
                background: var(--color-orange);
                max-height: 30rem;
            }

            &::after {
                content: "";
                position: absolute;
                right: 0%;
                top: 50%;
                transform: translate(var(--sphere-offset-right), -50%) scaleX(-1);
                aspect-ratio: 1 / 1;
                height: 80%;
                border-radius: 50%;
                // background: red;
                background-image: var(--demi-sphere);
                background-repeat: no-repeat;
                transition: transform 200ms;
                max-height: 30rem;
            }


            &:has(blockquote:hover) {
                // background-color: red;
                --sphere-offset-right: 25%;
                
            }


        }




        &.approche {
            // width: 100%
            position: relative;

            background-color: var(--color-white);
            color: var(--color-grey);
            padding: 4rem 5% 4rem 20%;

            &::before {
                content: "";
                position: absolute;
                left: 0%;
                top: 50%;
                transform: translate(-75%, -50%);
                aspect-ratio: 1 / 1;
                height: 70%;
                border-radius: 50%;
                background: var(--color-blue);
                max-height: 30rem;
            }

            img {
                width: 8rem;
                border-radius: 50%;
                border: 0.5rem solid var(--color-yellow);
                margin-top: 1rem;
                &:not(:last-of-type) {
                    margin-right: 2.5rem;
                }
            }
        }





        &.quote {
            position: relative;
            background-color: var(--color-blue);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3rem;

            // width: 100dvw;
            // height: 100dvh;


            & > div {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 1rem;

                background-color: var(--color-grey);

                color: var(--color-white);
                border-radius: 50%;
                aspect-ratio: 1 / 1;

                // font-size: calc(1rem * 10dvw);
                font-size: 1.3rem;
                // height: 100%;
                // max-width: 75%;
                // max-height: 75%;
            }


            &::before {
                content: "";
                position: absolute;
                left: 0%;
                top: 50%;
                transform: translate(-50%, -50%);
                aspect-ratio: 1 / 2;
                height: 80%;
                // border-radius: 50%;
                // background: #f0a020;
                background-image: var(--demi-sphere);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: contain;

            }
            &::after {
                content: "";
                position: absolute;
                right: 0%;
                top: 50%;
                transform: translate(50%, -50%) scaleX(-1);
                aspect-ratio: 1 / 2;
                height: 80%;
                background-image: var(--demi-sphere);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: contain;
            }

        }


    }


}


h2 {
    font-family: var(--font-title);
    font-size: 3rem;
    margin-bottom: 1rem;
}


h3 {
    font-family: var(--font-title);
    font-size: 2rem;
    margin-bottom: 1rem;
}

h4 {
    font-family: var(--font-title);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

h5 {
    font-family: var(--font-title);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}


p:not(:last-child) {
    margin-bottom: 0.8rem;
}

em {
    color: var(--color-orange);
}

blockquote {
    font-size: 1.4em;
    font-weight: 600;
    font-style: italic;
    color: var(--color-orange);
}

hr {
	border: none;
	height: 0.2em;
	background: var(--color-blue);
    margin-bottom: 1rem;
	width: 100%;
}

footer {




    display: flex;
    flex-direction: column;

    font-size: 0.8rem;
    font-weight: 500;
    height: 5em;
    margin: 5em 0;



    & > div:nth-child(1) {
        // background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;

        // user-select: none;
        // filter: grayscale(100);
        color: var(--color-white);
        z-index: -1;

        &::before {
            content: '';
            height: 2em;
            aspect-ratio: 132/150;
            background-image: var(--logo-ii);
            background-size: contain;
            background-position: left center;
            background-repeat: no-repeat;
            margin-right: 0.5em;
        }
    }




    & > div:nth-child(2) {
        // background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;

        // user-select: none;
        // filter: grayscale(100);
        color: var(--color-white);
        // z-index: -1;
        margin-top: 0.5rem;

        a {
            color: var(--color-white);
        }

    }


    & > div:nth-child(3) {
        margin-top: 0.5rem;
        // background-color: blue;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        .facebook {
            width: 1rem;
            aspect-ratio: 1 / 1;
            // background-color: red;
            background-image: var(--icon-facebook);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        }

        .email {
            width: 1rem;
            aspect-ratio: 1 / 1;
            // background-color: red;
            background-image: var(--icon-email);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        }

    }

}


// footer > div:nth-child(1) {
//     // background-color: red;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     user-select: none;
//     // filter: grayscale(100);
//     color: var(--color-white);
//     z-index: -1;

//     &::before {
//         content: '';
//         height: 2em;
//         aspect-ratio: 132/150;
//         background-image: var(--logo-ii);
//         background-size: contain;
//         background-position: left center;
//         background-repeat: no-repeat;
//         margin-right: 0.5em;
//     }
// }


.arrowup {
    position: relative;
    height: 1.2rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & > div {
        position: relative;
        // background-color: blue;
        height: 100%;
        aspect-ratio: 2 / 1;
        cursor: pointer;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: var(--arrow-up);

        transition-property: transform;
        transition-duration: 100ms;

        &:hover {
            transform: scale(1.1);
        }
    }

    // background-color: red;

    




}