section.splash-publications {

	// background-color: red;

	display: flex;
	align-items: center;
	justify-content: center;

	height: 100vh;
	// background-color: red;
	background-image: var(--splash-publications);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80% 80%;

	font-family: var(--font-hero);
	font-size: 5rem;
	color: var(--color-white);
	text-transform: uppercase;

}


.publications-slideshow {
	background-image: url(../images/publications/00-splash.webp);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 100vh;
}





.publications-section {

	overflow-x: hidden;
	position: relative;

	background-color: var(--color-white);
	color: var(--color-black);
	padding: 4rem 5% 4rem 20%;

	display: flex;
	flex-direction: column;
	align-items: flex-start;

	&::before {
		content: "";
		position: absolute;
		left: 0%;
		top: 50%;
		transform: translate(-50%, -50%);
		aspect-ratio: 1 / 2;
		height: 80%;
		max-height: 30rem;
		// border-radius: 50%;
		// background: #f0a020;
		background-image: var(--demi-sphere);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		// background-color: var(--color-white);
	}

	& > div {
		// flex-grow: 1;
		width: 100%;
		text-align: right;

		&:not(:last-of-type) {
			margin-bottom: 1rem;
		}

	}

	& > img {
		flex: 0 0 auto;
		width: 100%;
		// max-width: 100%;
		height: auto;
		border: 0.5rem solid var(--color-blue);
		margin-bottom: 1rem;
	}

	ul {
		list-style-type: none;
		li {
			margin-top: 0.5rem;
		}
	}


	a {
		color: var(--color-grey);
		font-weight: 500;
		text-decoration: none;
		background-image: linear-gradient(var(--color-blue), var(--color-blue));
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: 100% 15%;
		transition-duration: 50ms;

		&:hover {
			transition-duration: 200ms;
			background-size: 100% 100%;
		}
	}

}




.publications-section-right {

	overflow-x: hidden;
	position: relative;

	background-color: var(--color-white);
	color: var(--color-black);
	padding: 4rem 20% 4rem 5%;

	display: flex;
	flex-direction: column;
	align-items: flex-start;

	&::before {
		content: "";
		position: absolute;
		right: 0%;
		top: 50%;
		transform: translate(50%, -50%) scaleX(-1);
		aspect-ratio: 1 / 2;
		height: 80%;
		max-height: 30rem;
		// border-radius: 50%;
		// background: #f0a020;
		background-image: var(--demi-sphere);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		// background-color: var(--color-white);
	}

	& > div {
		// flex-grow: 1;
		width: 100%;
		text-align: left;

		&:not(:last-of-type) {
			margin-bottom: 1rem;
		}

	}

	& > img {
		flex: 0 0 auto;
		width: 100%;
		// max-width: 100%;
		height: auto;
		border: 0.5rem solid var(--color-blue);
		margin-bottom: 1rem;
	}

	ul {
		list-style-type: none;
		li {
			margin-top: 0.5rem;
		}
	}


	a {
		color: var(--color-grey);
		font-weight: 500;
		text-decoration: none;
		background-image: linear-gradient(var(--color-blue), var(--color-blue));
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: 100% 15%;
		transition-duration: 50ms;

		&:hover {
			transition-duration: 200ms;
			background-size: 100% 100%;
		}
	}

}

